/*1383 0447677110-15 Husna Muttaqiyyah*/
/*1344 0447677141-36 Hendyawan Okky Pratama*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*Bag.Utama*/
/*1383 0447677110-15 Husna Muttaqiyyah*/
.top-wrapper {
  padding: 180px 0 250px 0;
  background-image: url(banner.png);
  background-size: cover;
  color: #1A598C;
  text-align: left;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  width:47%;

}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  width:47%;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #4AAFFF;
  float: left;
}

.btns {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btns:hover {
  opacity: 1;
}

/*Header*/
/*1383 0447677110-15 Husna Muttaqiyyah*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 150px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color:white;
  float:right;
  font-size:25px;
  padding:21px 0;
  display:none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dff0fe;
  text-align: center;
}


.heading {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 33%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  text-align: center;
}

.text-content {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f7f7f7;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/*Animasi hover*/
/*1383 0447677110-15 Husna Muttaqiyyah*/
.container_lesson {
  position: relative;
  width: 65%;
  display: inline-block;
}

.container_prof{
  position: relative;
  width: 45%;
  display: inline-block;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container_lesson:hover .image {
  opacity: 0.1;
}

.container_lesson:hover .middle {
  opacity: 1;
}

.container_prof:hover .image {
  opacity: 0.1;
}

.container_prof:hover .middle {
  opacity: 1;
}
.text {
  color: black;
  font-size: 15px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:1px;
  padding-right: 1px;
}
/*End animasi hover*/

/*Contact us*/
/*1383 0447677110-15 Husna Muttaqiyyah*/
input{
  width:300px;
  margin-top:10px;
  margin-bottom:30px;
  padding:10px;
  font-size:12px;
  border:1px solid #dee7ec;
}

textarea{
  width:300px;
  height: 100px;
  margin-top:10px;
  margin-bottom:5px;
  padding:10px;
  font-size:12px;
  border:1px solid #dee7ec;
}


.contact-submit{
  background:#dee7ec;
  color:#889eab;
}

/*End contact us*/

/*nav header*/
/*1383 0447677110-15 Husna Muttaqiyyah*/
.nav {
  height: 50px;
  width: 100%;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding:21px 10px 23px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav > #nav-check {
  display: none;
}
/*End nav header*/

/*CSS ourexpertize*/
/*1344 0447677141-36 Hendyawan Okky Pratama*/
.exp-wrapper {
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  /*font-family: 'roboto', sans-serif;*/
}
.exp {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}

.exp p {
	line-height: 1.5;
  font-size: 15px;
}

.exp-icon {
  position: relative;
}

.exp-icon p {
  font-weight: 300;
  color: #5f5d60;
  font-size:30px;
}

.heading h2 {
	padding-top:40px;
	font-size:35px;
    
}

.exp-icon img {
	width:200px;
	height:160px;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.rotate-vert-center {
	-webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-7 14:43:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}


/*End ourexpertize*/

/*CSS ourteam*/
/*1344 0447677141-36 Hendyawan Okky Pratama*/
.our-wrapper {
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dff0fe;
  text-align: center;
  /*font-family: 'roboto', sans-serif;*/
}
.our {
  float: left;
  width: 50%;
}

.our-icon {
  position: relative;
}

.our-icon p {
  /*font-weight: 600;*/
  color: #5f5d60;
  font-size:20px;
}

.heading h2 {
	padding-top:40px;
	font-size:35px;
}

.our-icon img {
	width:200px;
	height:200px;
	border-radius: 50%;
}

.our-contents {
  /*color: #5a2cef;*/
  color: black;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

/*End ourteam*/

/*Footer*/
/*1344 0447677141-36 Hendyawan Okky Pratama*/
.clear {
  clear: left;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.foot-wrapper {	
	margin-top:30px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.lesson-foot {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}


.lesson-foot h2 {
	text-align:left;
	color:#ffffff;
}

.lesson-foot p {
	font-size:15px;
	text-align:left;
	color:#e3e0e0;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

footer img {
  width: 150px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
	background-color:#08202e;
  padding-top: 30px;
  padding-bottom: 20px;
}

.foot {
	
	border-top: 1px solid #eee;
	text-align:center;
	margin-top:20px;
	color:#b3aeb5;
}

.foot p {
	
	font-size:15px;
	padding-top: 15px;
}


a:hover {
	color:red;
}

a {
	color:#fff;
}

.peta {
	width:100%;
	text-align:left;
}

.footer-widget { 
	padding-bottom: 50px; 
	}
	
.footer-title { 
	text-align:left; 
	font-size: 24px; 
	font-weight: 600; 
	margin-bottom: 44px; 
	color: #fff; 
	}
	
.footer-widget ul li a { 
	text-transform: capitalize; 
	font-size: 17px; 
	color: #636e74; 
	display: block; 
	font-weight: 600; 
	}
	
.footer-widget ul li a:hover { 
	color: #fff; 
	}
	
.newsletter-form { 
	padding-top: 15px; 
	}

.newsletter-form .form-control { 
	background-color: #1e2e38; 
	border-color: #1e2e38; 
	}

.newsletter-form .form-control:focus { 
	color: #000000; 
	}

.newsletter-form input::-webkit-input-placeholder { 
	color: #fff !important; 
	}

.newsletter-form input:focus::-webkit-input-placeholder { 
	color: #000000 !important; 
	}

.btn { 
	float:left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 16px; 
	text-transform: capitalize; 
	font-weight: 700; 
	padding: 12px 24px; 
	letter-spacing: 0px; 
	border-radius: 3px; 
	line-height: 2; 
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
	transition: all 0.5s; 
	word-wrap: break-word; 
	white-space: normal !important; 
	}

.btn-default { 
	background-color: #ff9f2a; 
	color: #fff; 
	border: 1px solid #ff9f2a; 
	}
	
.btn-default:hover { 
	background-color: #ec8a13; 
	color: #fff; 
	border: 1px solid #ec8a13; 
	}
	
.btn-default.focus, .btn-default:focus { 
	background-color: #ec8a13; 
	color: #fff; 
	border: 1px solid #ec8a13; 
	box-shadow: 0 0 0 0.1rem rgb(236, 138, 19); 
	}
	
.form-control { 
	border-radius: 0px; 
	font-size: 14px; 
	font-weight: 700; 
	width: 100%; 
	height: 64px; 
	padding: 16px 20px; 
	line-height: 1.42857143;
	border: 1px solid #d6dadc; 
	background-color: #fff; 
	text-transform: capitalize; 
	letter-spacing: 0px; 
	margin-bottom: 30px; 
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); 
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); 
	-webkit-appearance: none; color: #011c28; 
	}
	
.form-control:focus { 
	color: #011c28; 
	outline: 0; 
	box-shadow: 0 0 0 0.0rem rgb(255, 255, 255); 
	border-color: #c9cdd0; 
	background-color: #f0f4f6; 
}
/*End Footer*/
